html, body {
    width: 100%;
    height: 100%;
    background: white;
    font-family: sans;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.ww-app-body {
    display: flex;
    flex-direction: columns;
    width: 100%;
    overflow: hidden;
}

.ww-perspective-area {
    display: flex;
    width: 100%;
}

.ww-task-list-perspective {
    display: flex;
    flex-direction: columns;
    width: 100%;
}

.ww-notes-perspective {
    display: flex;
    flex-direction: columns;
    width: 100%;
    height: 100%;
}

.ww-notes-view {
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    overflow-y: scroll;
}

.ww-note-node {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 1em;
    border-left: solid 2px lightgray;
    margin: 2px;
}

.ww-note-node-content-region {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ww-note-node-indent-region {
    /* background: lightgray; */
    padding-right: 5px;
    padding-left: 5px;
}

.ww-note-node-summary-region {
    /* background: lightblue; */
    font-weight: bold;
    outline: solid 0px transparent;
}

.ww-note-node-body-region {
    margin-bottom: 10px;
    outline: solid 0px transparent;
}

.ww-task-creation-box {
    background: rgb( 240, 240, 240 );
    border: solid 1px lightgray;
    border-radius: 5px;
    margin: 7px;
    padding: 7px;
    font-size: 0.9em;
}

.ww-task-creation-box:empty:not(:focus):before {
    content: attr(data-ph);
    color: gray;
}

.ww-task-list {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb( 255, 255, 255 );
}

.ww-task-list-item {
    background: white;
    width: 98%;
    font-size: 0.8em;
    /* margin: 0px 3px 0px 3px; */
    margin-left: 1%;
    margin-right: 1%;
    /* display: flex; */
    /* flex-direction: rows; */
    padding-top: 1px;
    border-bottom: solid 1px lightgray;
    border-radius: 5px;
    overflow: hidden;
    transition: background 0.25s ease-out;
    transition: height 0.25s ease-out;
}

.ww-task-context-list {
    box-shadow: 0px 5px 5px gray;
    position: relative;
    z-index: 10;
}

.ww-task-list-context-item {
    /* background: white; */
    background: rgb(240,240,240);
    border-bottom: solid 1px lightgray;
    cursor: pointer;
    font-size: 0.8em;
    padding: 2px;
    margin: 0 2px 0 2px;
    border-radius: 5px 5px 0 0;
    border: solid 1px rgb(120,120,120);
    border-bottom: none;
}

.ww-task-list-context-item:hover {
    background: rgb( 240, 240, 255);
}

.ww-task-list-context-item--final {
    /* background: yellow; */
    background: white;
    border: solid 2px rgb(120,120,255);
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    position: relative;
    z-index: 1000;
    font-size: 0.8em;
    /* min-height: 50vh; */
    transition: min-height 0.25s ease-out;
}

.ww-task-list-item-top-panel {
    display: flex;
    flex-direction: columns;
    align-items: center;
    width: 100%;
    margin: 0;
}

.ww-task-list-context-separator {
    /* background-image: linear-gradient(gray, lightgray); */
    background: rgb(240,240,230);
    color: black;
    font-size: 0.8em;
    padding: 0.3em;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    /* height: 1em; */
}

.ww-task-list-item-mini-panel {
    display: flex;
    padding-left: 2%;
    height: 0px;
    /* transition: max-height 0.25s ease-out; */
}

.ww-task-list-item--selected .ww-task-list-item-mini-panel {
    height: auto;
    /* transition: max-height 0.25s ease-out; */
}

.ww-task-list-item-expansion-panel {
    width: 100%;
    height: 0px;
    overflow: hidden;
    /* opacity: 0%; */
    /* transition: opacity 0.25s 0.25s ease-out; */
    /* transition: height 0.25s ease-out; */
}

/* .ww-task-list-item:hover:not(.ww-task-list-item--selected) .ww-task-list-item-expansion-panel { */
/*     max-height: 2em; */
/*     transition: max-height 0.25s ease-out; */
/* } */

/* .ww-task-list-item--selected .ww-task-list-item-expansion-panel { */
/*     /\* height: auto; *\/ */
/*     max-height: 15em; */
/*     transition: max-height 0.25s ease-out; */
/*     /\* Slide in from bottom, outside visible area *\/ */
/*     /\* transition: top 0.25s 0.25s ease-out; *\/ */
/*     /\* opacity: 100%; *\/ */
/*     /\* transition: opacity 0.25s 0.2s ease-out; *\/ */
/* } */

.ww-task-list-context-item--final .ww-task-list-item-expansion-panel {
    height: 100%;
}

.ww-task-list-expansion-panel-section-header-div {
    border-bottom: solid 1px lightgray;
    color: gray;
    font-size: 0.8em;
    padding-top: 5px;
    padding-left: 5px;
}

.ww-task-list-item-subtasks-panel {
    margin: 0;
    width: 100%;
    padding-right: 5px;
    transition: height 0.25s ease-out;
    overflow: hidden;
    display: flex;
    flex-direction: columns;
    flex-wrap: wrap;
    /* border: solid 2px gray; */
    padding: 2px;
    padding-top: 4px;
    width: 96%;
    border-radius: 5px;
    /* border-top: solid 1px lightgray; */
}

.ww-task-list-item-subtasks-blurb {
    border: solid 2px gray;
    border-radius: 5px;
    padding: 3px;
    color: gray;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    white-space: nowrap;
}

.ww-task-list-item-body {
    width: 95%;
    margin: 5px;
    /* min-height: 1em; */
    height: 100%;
    padding: 2px;
    border-left: solid 2px lightgray;
    padding-left: 10px;
    outline: solid 0px transparent;
    /* border-left: solid 1px lightgray; */
    /* border-top: solid 1px lightgray; */
    border-radius: 5px;
    overflow-y: auto;
    transition: background 0.25s ease-out;
    transition: min-height 0.25s ease-out;
}

.ww-task-list-item-body:focus {
    background: rgb( 240, 240, 240 );
    transition: background 0.25s ease-out;
    min-height: 8em;
    transition: min-height 0.25s ease-out;
}

.ww-task-list-item-body:empty:not(:focus):before {
  content:attr(data-ph);
  color:grey;
  font-style:italic;
}

.ww-task-list-item--completed {
    color: gray;
}

.ww-task-list-item:hover {
    background: rgb(240,240,240);
    cursor: pointer;
    transition: background 0.15s linear;
}

.ww-task-list-item--selected:hover {
    background: white;
    cursor: auto;
}

.ww-task-list-item--edit-flash {
    animation-name: flash;
    animation-duration: 0.5s;
    background: transparent;
    border-radius: 5px;
}

@keyframes flash {
  0% {
    background: rgb( 220, 220, 255);
  }
}

.ww-task-list-item-summary {
    /* width: 100%; */
    height: 100%;
    margin: 0px;
    margin-left: 10px;
    padding: 5px 2px 5px 2px;
}

.ww-task-list-item-ancestry {
    /* width: 100%; */
    font-size: 0.8em;
    color: gray;
    height: 100%;
    margin: 0px;
    margin-left: 10px;
    padding: 5px 2px 5px 2px;
}

.ww-task-list-item-summary:focus {
    outline: 0px solid transparent;
    background: rgb( 240,240,240);
    border-radius: 5px;
    transition: background 0.25s ease-out;
}

.ww-task-list-item-checkbox {
    /* margin-right: 5px; */
    /* padding: 2px; */
    padding: 0px 10px 5px 0px;
    margin-right: 1em;
    font-size: 1em;
    font-weight: bold;
    width: 0.5em;
    height: 1em;
    border: solid 2px blue;
    border-radius: 5px;
    color: rgb(0,0,0,0.0);
    overflow: hidden;
    text-align: center;
}

.ww-task-list-context-item--final .ww-task-list-item-checkbox, .ww-task-list-context-item .ww-task-list-item-checkbox, .ww-task-list-item-checkbox:hover {
    width: 5em;
    background: rgb( 0, 0, 255, 0.2);
    color: blue;
    transition: all 0.25s ease-out;
    cursor: pointer;
}

.ww-task-list-item-time-til-due {
    font-size: 0.8em;
    color: gray;
    margin-right: 20px;
    position: relative;
    width: 10px;
    left: 0px;
}

.ww-task-list-item--selected .ww-task-list-item-time-til-due {
    left: 30px;
    /* width: 0px; */
    transition: left 0.25s ease-out;
    /* transition: width 0.25s ease-out; */
}

.ww-flexbox-spacer {
    flex-grow: 1;
    padding: 0px;
    margin: 0px;
}

.ww-list-menu-entry {
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 0px 0px 0px 10px;
    border-radius: 5px;
    transition: background 0.15s linear;
}

.ww-list-menu-entry--selected {
    background: rgb(220,220,255);
    transition: background 0.15s linear;
}

.ww-list-menu-entry:hover {
    background: lightgray;
    cursor: pointer;
    transition: background 0.15s linear;
}

.ww-list-menu-entry-title {
    margin: 0px 5px 0px 5px;
    font-size: 0.8em;
}

.ww-list-menu-entry-count {
    margin: 0px 5px 0px 5px;
    font-size: 0.8em;
    color: gray;
}

.ww-list-menu-entry-icon {
    margin: 0px;
}

.ww-list-menu {
    height: 100%;
    background: rgb( 240,240,240);
    border: solid 1px lightgray;
    min-width: 200px;
    width: 20vw;
    /* box-shadow: 5px 0px 10px lightgray; */
    /* position: relative; */
    /* z-index: 10; */
}

.ww-list-menu-section {
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.ww-list-menu-section-title {
    color: gray;
    font-weight: bold;
    font-size: 0.8em;
    margin: 5px;
    width: 200px;
}

.ww-task-list-item-bottom-panel {
    display: flex;
    flex-direction: columns;
}

.ww-task-list-item-mini-button {
    color: gray;
    border: solid 2px rgb(190,190,190);
    border-radius: 5px;
    padding: 0px 3px 0px 3px;
    margin: 3px 2px 3px 2px;
    /* position: relative; */
    /* top: 40px; */
}

.ww-task-list-item-mini-button--selected {
    color: blue;
    border: solid 2px blue;
}

/* .ww-task-list-item--selected .ww-task-list-item-mini-button { */
/*     top: 0px; */
/* } */

.ww-task-list-item-mini-button:hover {
    cursor: pointer;
    border: solid 2px;
    background: rgb( 240, 240, 240 );
    transition: background 0.5s 0.5s ease-out;
}

.ww-controls-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(240,240,240);
    width: 3em;
    box-shadow: -5px 0px 5px lightgray;
    font-size: 2em;
}

.item {
  transition: all 0.5s ease;
}
