{:deps {org.clojure/clojurescript {:mvn/version "1.11.54"}
        cljsjs/react {:mvn/version "16.2.0-3"}
        cljsjs/react-dom {:mvn/version "16.2.0-3"}
        reagent/reagent {:mvn/version "1.2.0"}
        com.bhauman/figwheel-main {:mvn/version "0.2.18"}
        cljs-http/cljs-http {:mvn/version "0.1.48"}
        compojure/compojure {:mvn/version "1.7.1"}
        cljsjs/react-flip-move {:mvn/version "2.9.17-0"}}
 :paths ["src" "target" "resources" "test"]}
